var merge = require('webpack-merge')
var prodEnv = require('./prod.env')

module.exports = merge(prodEnv, {
  NODE_ENV: '"development"',
  API: {
    PROTOCOL: '"https"',
    DOMAIN: '"quasar.phpzm.rocks"',
    PATH: '"/api/v1"',
    PORT: '""'
  },
  FIREBASE: {
    apiKey: '"AIzaSyDvHkjSCnPA0D748Ozrzn9JSzPUcX3n0bY"',
    authDomain: '"project-manager-deec0.firebaseapp.com"',
    databaseURL: '"https://project-manager-deec0.firebaseio.com"',
    projectId: '"project-manager-deec0"',
    storageBucket: '""',
    messagingSenderId: '"670637881898"'
  },
  GITLAB: {
    URL: '"http://git.fagoc.br/api/v3"',
    PRIVATE_KEY: '"fhcGizyDoS3pG_3o_KJ8"'
  },
  DEV: true
})
